.controls {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}
.controls-inputs {
  display: flex;
}
.controls-input {
  margin-right: 20px;
}