* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-phoenix {
  position: fixed;
  width: 60px;
  height: 60px;
  background-image: url(./assets/logo-full.svg);
  background-size: contain;
  top: 20px;
  left: 20px;
}

.controls {
  position: fixed;
  display: flex;
  justify-content: space-between;
  right: 0;
  bottom: 0;
  padding: 20px;
  width: 50%;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.controls,
.list,
.preview {
  background: gainsboro;
  outline: 1px solid gray;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  width: 50%;
  height: 100%;
  overflow: auto;
}

.list-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  list-style: none;
  outline: 1px solid black;
  cursor: move;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}
.list-item > img {
  width: 30%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}
.list-item > p {
  pointer-events: none;
}
.selected {
  opacity: .6;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.preview-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.preview-img[src=""] {
  display: none;
}